<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.face.facemaker.mapper.ContemptTableMapper">
 	<insert id="insertContempt">
 		insert into contempt_table (name, src, stage) values (#{name},#{src},#{stage})
 	</insert>
 	
 	<update id="updateContempt">
 		update contempt_table set anger=#{anger},contempt=#{contempt},fear=#{fear},happiness=#{happiness},
 			neutral=#{neutral},sadness=#{sadness},surprise=#{surprise} where name=#{name}
 	</update>
 	<select id="selectOneContempt" resultType="Contempt_Table">
 		select * from contempt_table where name = #{name}
 	</select>
 	<delete id="deleteContempt">
 		delete from contempt_table where name = #{name}
 	</delete>
</mapper>