<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.face.facemaker.mapper.AngerTableMapper">
 	<insert id="insertFear">
 		insert into anger_table (name, src, stage) values (#{name},#{src},#{stage})
 	</insert>
 	
 	<update id="updateFear">
 		update anger_table set anger=#{anger},contempt=#{contempt},fear=#{fear},happiness=#{happiness},
 			neutral=#{neutral},sadness=#{sadness},surprise=#{surprise} where name=#{name}
 	</update>
 	<select id="selectOneFear" resultType="Fear_Table">
 		select * from fear_table where name = #{name}
 	</select>

</mapper>