<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.face.facemaker.mapper.NeutralTableMapper">
 	<insert id="insertNeutral">
 		insert into neutral_table (age,name, src, stage) values (#{age},#{name},#{src},#{stage})
 	</insert>
 	
 	<update id="updateNeutral">
 		update neutral_table set anger=#{anger}, contempt=#{contempt},fear=#{fear},happiness=#{happiness},
 			neutral=#{neutral},sadness=#{sadness},surprise=#{surprise} where name=#{name}
 	</update>
 	
 	<select id="selectOneNeutral" resultType="Neutral_Table">
 		select * from neutral_table where name = #{name}
 	</select>
 	
 	<delete id="deleteNeutral">
 		delete from neutral_table where name = #{name}
 	</delete>
</mapper>