<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.face.facemaker.mapper.SadnessTableMapper">
 	<insert id="insertSadness">
 		insert into sadness_table (name, src, stage) values (#{name},#{src},#{stage})
 	</insert>
 	
 	<update id="updateSadness">
 		update sadness_table set anger=#{anger},contempt=#{contempt},fear=#{fear},happiness=#{happiness},
 			neutral=#{neutral},sadness=#{sadness},surprise=#{surprise} where name=#{name}
 	</update>
 	
 	<select id="selectOneSadness" resultType="Sadness_Table">
 		select * from sadness_table where name = #{name}
 	</select>
 	<delete id="deleteSadness">
 		delete from sadness_table where name = #{name}
 	</delete>
</mapper>